/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #eee;
}

.recipeCard{
  /* border: black solid 1px; */
  border-radius: .5em;
  width:800px;
  display: flex;
  flex-direction: row;
  /* padding: 20px; */
  margin: 0 20px;
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.recipeInfoBox{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.4em;
  gap: 10px;
}

.container{
  /* background: salmon; */
  margin: 2em auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.4em;
}

.recipeInfo{
  /* background-color: black; */
  padding: 5px 10px;
  border-radius: 50px;
  color: #111111;
  background-color: #FFB000;
  font-size: .9em;
}


.tags{
  display: flex;
  gap: .5em;
}

#recipeSearchBox{
  display: flex;
  justify-content: center;
  width: min(100%,450px);
}

#recipeSearchDropdown{
  padding: .5em .8em;
  border-radius: .5em 0 0 .5em;
  cursor: pointer;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#recipeSearchInput{
  padding: .5em 1em;
  border: solid 1px #111111;
  font-size: 1em;
  width: 100%;
  background-color: white;
}

#recipeSearchBtn{
  padding: .5em .8em;
  border-radius: 0 .5em .5em 0;
  border: solid 1px #111111;
  cursor: pointer;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}


.recipeImage{
  /* border-right: 1px solid black ; */
  width: 250px;
  height: auto;
  object-fit: cover;
  border-radius: .5em 0 0 .5em ;
}

header{
  width: 100%;
  background-color: #FFB000;
  display: flex;
  align-items: center;
  padding: .8em 1em;
  justify-content: space-between;
  gap: 1em;
  position: sticky;
  top: 0;
  color: white;
}

.icon{
  display: flex;
  align-items: center;
  color: #000
}

@media screen and (max-width: 650px) {
  .recipeCard{
    flex-direction: column;
  }

  .recipeImage{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: .5em .5em 0 0;
    border-right: none;
  }

  #logo h1{
    display: none;
  }

}